:root {
  --accent: #ff004f;
  --background: #eeeeee;
  --secondary: rgb(197, 197, 197);
}

body {
  background-color: var(--background);
  overflow-x: hidden;
  font-family: 'Staatliches';
}

a:hover {
  text-decoration: none;
}

.table td {
  border: none;
}

.table thead th {
  border: none;
}
